.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  overflow: hidden;
  &-head {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    h1 {
      //font-size: 10vw;
      font-size: 6em;
      font-family: $main-font;
      color: rgba($main-color, 1);
      margin: 0;
      text-transform: uppercase;
      @include transform(translateY(100%));
      @include transition(.5s cubic-bezier(0.77, 0, 0.175, 1));
    }
    &:after {
      content: '';
      display: block;
      background: $bg-color;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      @include transform(translateY(100%))
    }
    &.show h1 {
      @include transform(translateY(0));
      @include transition(.5s cubic-bezier(0.77, 0, 0.175, 1));
    }
  }

  &-body {
    margin: 0 auto 90px;
    opacity: 0;
    @include transform(translateY(10px));
    &.show {
      opacity: 1;
      @include transform(translateY(0));
      @include transition(.5s);
    }
  }
}