$main-color:        #ff9686;
$text-color:        #000000;

// colors
$bg-color: #efecea;
$item-color: #D8C2B3;

// vars
$le-shadow: 0 0 10px rgba(00, 00, 00, .15);
$le-radius: 4px;

// Fonts
$main-font: 'Oswald', sans-serif;
$second-font: 'Raleway', sans-serif;